@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------Colours */

.bg-color-navbar {
    background-color: #880e4f;
}

.bg-color-footer {
    background-color: #880e4f;
}

/*-----------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*-----------------Header */

header {
    letter-spacing: 1.5px;
}

.navbar-brand {
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-brand:hover {
    color: #a5d6a7;
}

.nav-item a {
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.nav-item a i {
    font-size: 30px;
}

.nav-item a:hover {
    color: #a5d6a7;
}

.active a {
    color: #a5d6a7;
}

/*-----------------Footer */

footer {
    margin: 0;
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.contact-details p {
    font-size: 18px;
    margin-bottom: 8px;
}

.contact-details p,
.social-heading {
    letter-spacing: 1px;
}

.contact-details p i {
    padding-right: 2px;
}

.social-links {
    margin: 0 auto;
}

.social-links li a i{
    margin: 0;
    padding-top: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #a5d6a7;
}