@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bad+Script&display=swap');

/*-----------------Colours */

.bg-color-navbar {
    background-color: #880e4f;
}

.bg-color-footer {
    background-color: #880e4f;
}

/*-----------------Special paddings/margins/text */

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

p {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.page-heading {
    padding-top: 20px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 35px;
    color: #880e4f;
}

.general-hr {
    border-color: #880e4f;
}

.padding-zero {
    padding: 0;
}


/*-----------------Header */

header {
    letter-spacing: 1.5px;
}

.navbar-brand {
    margin-left: 15px;
    color: #fff;
    font-family: "Bad Script", cursive;
    font-weight: 700;
    font-size: 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #a5d6a7;
}

.navbar-dark .navbar-toggler {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link i {
    font-size: 30px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ffd54f;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #ffd54f;
}

/*-----------------Footer */

footer {
    padding-bottom: 20px;
    padding-top: 20px;
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-weight: 500;
}

.social-links {
    margin: 0 auto;
}

.social-links li a i{
    margin: 0;
    padding-top: 4px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #ffd54f;
}

/*-----------------Home Page Hero Image*/

.hero-image {
    height: 100%;
    background: url("../images/bloom-squares.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-----------------Home Page Text Section*/

.home-page-intro {
    background-color: rgba(245, 245, 245, 0.8);
    margin: 20px auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.home-page-intro p {
    padding: 20px;
}

.home-page-intro:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

/*-----------------Home Page Links Section*/

.home-page-links-image {
    width: 100%;
}

.home-page-btn {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 0;
    background-color: #880e4f;
    color: #fff;
    width: 90%;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.home-page-btn h3 {
    padding-top: 10px;
    padding-bottom: 5px;
}

.home-page-btn:hover {
    background-color: #ffd54f;
    color: #000;
}

@media only screen and (max-width: 768px) {
    .home-page-btn {
        width: 70%;
    }
}

/*-----------------About Page*/

.about-container {
    height: 600px;
    background: url("../images/caragh-pic.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-text {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 0 10px 0 10px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.about-text p {
    text-align: center;
    background: transparent;
    margin: 20px;
}

.about-text:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

.about-info-pic-col {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .about-info-pic-col {
        display: none;
    }

    .about-container {
        height: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .about-sm-container {
        display: none;
    }
}

/*-----------------Gallery Page*/

.gallery-container {
    height: 100%;
    background: url("../images/bloom-fabrics.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.gallery-row {
    padding-bottom: 20px;
}

.gallery-col {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    width: 95%;
    background-color: #880e4f;
    color: #fff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.gallery-col:hover {
    background-color: #ffd54f;
    color: #000;
}

.collection-heading {
    margin: 10px 0 10px 0;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.collection-text {
    margin-bottom: 10px;
}

.collection-text a {
    color: inherit;
}

.carousel-caption h5 {
    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
}

/*-----------------Contact Page*/

.contact-container {
    height: 100%;
    background: url("../images/african-fabrics.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-text {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    max-width: 80%;
}

.contact-text:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

.center-form {
    background-color: rgba(245, 245, 245, 0.8);
    padding: 20px;
    margin: 10px auto;
    max-width: 70%;
}

.center-form:hover {
    background-color: rgba(245, 245, 245, 0.9);
}

@media only screen and (min-width: 768px) {
    .contact-text {
        max-width: 70%;
    }

    .center-form {
        max-width: 60%;
    }
}

.submit-div {
    padding-top: 10px;
}